/* ---------- general config */

    @font-face {
        font-family: "pramukh extrabold italic";
        font-weight: 800;
        font-style: italic;
        src: url(Fonte/PramukhRounded-ExtraboldItalic.woff);
    }

    @font-face {
        font-family: "pramukh regular";
        font-weight: 500;
        src: url(Fonte/PramukhRounded-Regular.woff);
    }

    ul {
        padding: 0;
    }

    li{
        list-style: none;
    }

    h1 a{
        text-decoration: none;
        color: #d65b5b;
    }

    a:visited{
        color: none;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 0;
        background: #dfe0df;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }



/* ---------- header */
    header {
        z-index: 3;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 120px;
        background-color: #f5cd77;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header img{
        /* layout */
        margin-left: 20%;
        /* proportions */
        height: 85%;
        /* format */
        border: #d65b5b 6px solid;
        border-top: #dfe0df;
        border-radius: 0 0 25px 25px;
    }

    h1 {
        /* layout */
        padding-left: 10px;
        margin-left: 5%;
        margin-top: 20px;
        /* proportions */
        font-size: 5em;
        /* format */
        font-family: "pramukh regular";
    }



/* ---------- Navbar */
nav {
        width: 100%;
        height: fit-content;
        background: #fff7e8;
    }
nav ul.menu {
        display: flex;
        justify-content: space-around;
        width: 76%;
        gap: 20px;
    }

    nav ul.menu li {
        flex-grow: 1;
        height: fit-content;
        padding-top: 5px;
        border-left: 1px solid #dfe0df;
        border-right: 1px solid #dfe0df;
        text-align: center;
        line-height: 400%;
        border-radius: 25px 15px;
    }

@media(min-width: 581px) and (max-width: 1920px){
    nav ul.menu{
        margin: 2% 12%;
    }
    nav ul.menu li{
        width: 20%;
    }
}

@media(min-width:320px) and (max-width: 580px){
    nav ul.menu {
        margin: 5%;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    nav ul.menu li{
        width: 100%;
    }}

nav ul li a{
    text-decoration: none;
    font-family: "pramukh regular";
    font-size: 40px;
    color: #6767a8ff;
}

nav ul li:hover, nav ul li#selected{
    background-color: #dfe0df;}

/* ---------- main */

@media(min-width: 581px) and (max-width: 1920px){
        main {
        z-index: 1;
        display: grid;
        grid-template-columns: 25% 75%;
        width: 80%;
        height: 1000px;
        background-color: #fff7e8;
    }}

/* ---------- Footer */

footer {
    width: 100%;
    z-index: 3;
    height: 200px;
    background-color: #fff7e8;
    text-align: center;
}

footer h2 a{
    text-decoration: none;
    color: #000;
}
