/* ---------- media query */

    /* ---------------- tablet, desktop and laptop */
    @media(min-width: 431px) and (max-width: 1920px){

    }

    /* ---------------- mobile */
    @media(min-width:320px) and (max-width: 430px){
        nav 
    }

/* ---------- main font */

    @font-face {
        font-family: "pramukh extrabold italic";
        font-weight: 800;
        font-style: italic;
        src: url(Fonte/PramukhRounded-ExtraboldItalic.woff);
    }

    @font-face {
        font-family: "pramukh regular";
        font-weight: 500;
        src: url(Fonte/PramukhRounded-Regular.woff);
    }

/* ---------- general config */

    h1 a{
        text-decoration: none;
        color: #d65b5b;
    }

    a:visited{
        color: none;
    }

    body{
        z-index: 0;
        background: #dfe0df;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* ---------- header */
    header {
        /* layout */
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        margin: 0;
        /* Proportions */
        width: 100%;
        height: 120px;
        /* format */
        background-color: #f5cd77;
        
    }
    header img{
        /* layout */
        margin-left: 20%;
        /* proportions */
        height: 90%;
        /* format */
        border: #d65b5b 6px solid;
        border-top: #dfe0df;
        border-radius: 0 0 25px 25px;
    }

    h1 {
        /* layout */
        padding-left: 10px;
        margin-left: 5%;
        margin-top: 20px;
        /* proportions */
        font-size: 5em;
        /* format */
        font-family: "pramukh regular";
    }

/* ---------- Nav */
    @media(min-width: 581px) and (max-width: 1920px){
    nav {
        /* layout */
        position: absolute;
        top: 120px;
        left: 0;
        /* proportions */
        width: 100%;
        height: 110px;
        /* format */
        background: #fff7e8;
        
    }

    nav ul.menu {
        /* layout */
        display: inline-flex;
        justify-content: center;
        position: absolute;
        top: 0;
        padding-left: 2%;
        padding-right: 2%;
        /* proportions */
        width: 100%;
        /* format */
        list-style: none;
    }

    nav ul li {
        /* layout */
        flex-grow: 1;
        display: inline-block;
        /* proportions */
        height: 80px;
        margin-right: 15px;
        /* format */
        border-left: 1px solid #dfe0df;
        border-right: 1px solid #dfe0df;
        text-align: center;
        line-height: 500%;
        border-radius: 25px 15px;

    }
    nav ul li a{
        text-decoration: none;
        font-family: "pramukh regular";
        font-size: 40px;
        color: #6767a8ff;
    }

    nav ul li:hover, nav ul li#selected{
        background-color: #dfe0df;
    }
    }

    @media(min-width:320px) and (max-width: 580px){
    nav {
        /* layout */
        position: absolute;
        top: 120px;
        left: 0;
        /* proportions */
        width: 100%;
        height: 80%;
        /* format */
        background: #fff7e8;
    }

    nav ul.menu {
        /* layout */
        position: absolute;
        top: 0;
        left: 0;
        /* proportions */
        width: 100%;
        /* format */
        list-style: none;
    }

    nav ul li {
        /* layout */
        display: inline-block;
        /* proportions */
        height: 80px;
        width: 80%;
        /* format */
        border-left: 1px solid #dfe0df;
        border-right: 1px solid #dfe0df;
        text-align: center;
        line-height: 500%;
        border-radius: 25px 15px;

    }
    nav ul li a{
        text-decoration: none;
        font-family: "pramukh regular";
        font-size: 40px;
        color: #6767a8ff;
    }

    nav ul li:hover, nav ul li#selected{
        background-color: #dfe0df;
    }
    }

/* ---------- main */

    main {
        /* layout */
        z-index: 1;
        display: grid;
        grid-template-columns: 25% 75%;
        margin: 200px 10% 0px 10%;
        /* Proportions */
        height: 2000px;
        width: 80%;
        /* format */
        background-color: #fff7e8;
    }

/* ---------- Footer */

    footer {
        /* layout */
        z-index: 3;
        margin-left: -10%;
        margin-bottom: -10%;
        /* Proportions */
        height: 200px;
        width: 120%;
        background-color: #fff7e8;
        /* format */
        text-align: center;
    }

    footer h2 a{
        text-decoration: none;
        color: #000;
    }
