/* ---------- general config */

    @font-face {
        font-family: "pramukh extrabold italic";
        font-weight: 800;
        font-style: italic;
        src: url(Fonte/PramukhRounded-ExtraboldItalic.woff);
    }

    @font-face {
        font-family: "pramukh regular";
        font-weight: 500;
        src: url(Fonte/PramukhRounded-Regular.woff);
    }

    input, input:enabled{
        border: 1px solid #dfe0df;
        padding-left: 50px;
    }

    ul {
        padding: 0;
    }

    li{
        list-style: none;
    }

    h1 a{
        text-decoration: none;
        color: #d65b5b;
    }

    a:visited{
        color: none;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 0;
        background: #dfe0df;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


/* ---------- header */
@media(min-width: 769px) and (max-width: 1920px){
    header{
        flex-direction: row;
        height: 120px;
        margin: 0;
    }
    header #logo{
        width: 50%;
    }
    h1{
        font-size: 6em;
        margin-top: 5px;
        margin-left: 40px;
    }
    header #header-tools{
        width: 70%;
        align-items: end;
        height: 100%;
        align-content: center;
    }
    header #header-tools img{
        height: 42px;
        margin-bottom: -5px;
    }
    header #header-tools .lupa{
        margin-bottom: -1px;
        border-radius: 20px 0 0 0;
    }
}

@media(min-width:581px) and (max-width: 768px){
    header{
        flex-direction: column;
        height: 160px;
    }
    header #logo{
        width: 100%;
    }
    h1{
        font-size: 6em;
        margin-top: 5px;
        margin-left: 40px;
    }
    header #header-tools{
        height: 40px;
        width: 100%;
    }
}

@media(min-width:320px) and (max-width: 580px){
    header{
        flex-direction: column;
        height: 160px;
    }
    header #logo{
        width: 100%;
    }
    h1{
        font-size: 4.5em;
        margin-top: 20px;
        margin-left: 30px;
    }
    header #header-tools{
        height: 40px;
        width: 100%;
    }
}

header{
    position: sticky;
    display: flex;
    z-index: 3;
    width: 100%;
    background-color: #f5cd77;
}
    header #logo{
        display: flex;
        flex-direction: row;
        height: 120px;
        
    }
        header #logo img{
            margin-left: 20%;
            height: 85%;
            border: #d65b5b 6px solid;
            border-top: #dfe0df;
            border-radius: 0 0 25px 25px;
        }
        h1 {
            padding-left: 10px;
            font-family: "pramukh regular";
        }

    header #header-tools{
        display: flex;
    }
    header #header-tools img{
        height: 42px;
    }
    header #header-tools input{
        width: 100%;
        height: 37px;
    }
    header .search-bar{
        display: inline-flex;
        width: fit-content;
    }

/* ---------- Navbar */

@media(min-width: 769px) and (max-width: 1920px){
    nav ul.menu{
        width: 76%;
        margin: 1% 12%;
    }
    nav ul.menu li{
        width: 20%;
    }
}

@media(min-width:581px) and (max-width: 768px){
    nav ul.menu{
        margin: 3% 5%;
        width: 90%;
        flex-wrap: wrap;
    }
    nav ul.menu li{
        min-width: 40%;
        height: 20%;
    }
}

@media(min-width:320px) and (max-width: 580px){
    nav ul.menu {
        margin: 5%;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    nav ul.menu li{
        width: 100%;
    }}

nav{
    width: 100%;
    height: fit-content;
    background: #fff7e8;
}

nav ul.menu {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

nav ul.menu li {
    flex: 1;
    height: fit-content;
    padding-top: 5px;
    border-left: 1px solid #dfe0df;
    border-right: 1px solid #dfe0df;
    text-align: center;
    line-height: 200%;
    border-radius: 25px 15px;
}

nav ul li a{
    text-decoration: none;
    font-family: "pramukh regular";
    font-size: 40px;
    color: #6767a8ff;
}

nav ul li:hover, nav ul li#selected{
    background-color: #dfe0df;}


/* ---------- main */

main {
    z-index: 1;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 1000px;
    background-color: #fff7e8;
    border-top: #dfe0df 1px solid;
    border-bottom: #dfe0df 1px solid;
    border-radius: 10px;
    margin: 0;
}

main img{
    width: 80%;
}

@media(min-width: 769px) and (max-width: 1920px){
    main{
        width: 80%;
        border-top: #dfe0df 1px solid;
    }}

@media(min-width:581px) and (max-width: 768px){
    main{
        width: 100%;
    }}

@media(min-width:320px) and (max-width: 580px){
    main{
        width: 100%;
        border-top: #dfe0df 1px solid;
        
    }}

/* ---------- Footer */

footer {
    width: 100%;
    z-index: 3;
    height: 200px;
    background-color: #fff7e8;
    text-align: center;
}

footer h2 a{
    text-decoration: none;
    color: #000;
}
